.header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 1013px;
    height: 208px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.Users {
    /* Users */

    width: 91px;
    height: 40px;

    font-family: "Merriweather";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;

    /* #151B32 */

    color: #151b32;

    /* Inside auto layout
  flex: none;
  flex-grow: 0; */
}

#frame_25 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    width: 1013px;
    height: 64px;

    /* Inside auto layout */
    /* 
  flex: none;
  align-self: stretch;
  flex-grow: 0; */
}

.searchbox {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 8px;

    width: 327px;
    height: 64px;

    /* #BFC8E6 */

    border: 1px solid #bfc8e6;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.search_user {
    width: 105px;
    height: 24px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    /* #151B32 */

    color: #151b32;

    opacity: 0.7;

    /* Inside auto layout */
    /* 
  flex: none;
  flex-grow: 0; */
}

.utils_content {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    width: 1013px;
    height: 64px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.utils {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 534px;
    height: 56px;

    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.utils_element {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 8px;
    width: 121px;
    height: 56px;
    flex: none;
    flex-grow: 0;
}

#frame_3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 8px;

    width: 121px;
    height: 56px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#frame_4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 8px;

    width: 115px;
    height: 56px;

    background: #849fff;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    color: #ffffff;
}

#voters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 8px;

    width: 85px;
    height: 56px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

#frame_6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 8px;

    width: 87px;
    height: 56px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

#frame_7 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 8px;

    width: 126px;
    height: 56px;

    /* Inside auto layout */

    flex: none;
    order: 4;
    flex-grow: 0;
}

.user_row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 1013px;
    height: 208px;

    /* Inside auto layout */

    flex: none;
    flex-grow: 0;
}

.user_box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;

    width: 327px;
    height: 208px;

    background: #fbfcff;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    flex-grow: 0;
}

#frame_19 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;

    width: 327px;
    height: 208px;

    background: #fbfcff;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#frame_20 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;

    width: 327px;
    height: 208px;

    background: #fbfcff;
    border: 1px solid #bfc8e6;
    box-shadow: 0px 8px 23px rgba(218, 224, 249, 0.7);
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#frame_21 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;

    width: 327px;
    height: 208px;

    background: #fbfcff;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.main_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    border: 1px solid #bfc8e6;
    border-radius: 10px;
    padding: 50px 100px 50px 100px;
    width: 1013px;
    height: 432px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#frame_22 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 1013px;
    height: 208px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#frame_23 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 1013px;
    height: 208px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.fav {
    text-align: center;
    background: #e3e8f5;
    border: 1px solid #bfc8e6;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 8px 23px rgba(218, 224, 249, 0.7);
}